<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chicmic.com.locreminder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".alarm.Create" />
        <activity android:name=".alarm.ViewAlarm" />

        <service android:name=".location.LocationMonitor" />

        <receiver android:name=".broadcastlistener.BroadCastListener" />
        <receiver android:name=".location.LocationBroadCastReciever">
            <intent-filter>
                <action android:name="com.chicmic.ALARM_INTENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".alarm.Dashboard"></activity>
    </application>

</manifest>